.cards-grid {
  display: grid;
  gap: 2rem;
  max-width: 1290px;
  margin: 0 auto;
  padding: 1.5rem 2rem;

  &.grid-cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  &.grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &.grid-cols-1 {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1024px) {
  .cards-grid {
    gap: 12px;
    padding: 1.5rem 0 0 1.5rem;

    &.grid-cols-3 {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 768px) {
  .cards-grid {
    grid-template-columns: 1fr !important;
    gap: 1.5rem;
    padding: 1rem;
  }
}
